body{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}
.text-junik{
	color: purple;
}
/*-----------header css--------------*/
#header{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index:-10;
}
.user-box{
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	position: absolute;
}
.user-box img{
	border-radius: 50%;
	width: 250px;
	border: 2px inset #6caed5;
	z-index:10;
}


.user-box h1 {
	color: #fff;
	font-weight: bold;
	margin: 10px;
}

 .user-box p{
	color: #fff;

}

.scroll-btn{
	bottom: 30px;
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	border:2px solid #fff;
	padding:10px 10px 20px;
	border-radius: 30px;
}

.scroll-bar span{
	border: 2px solid #fff;
	font-size: 10px;
}

.scroll-bar {
	animation: mover 1s infinite alternate;
	-webkit-animation: mover 1s infinite alternate;
	-moz-animation:mover 1s infinite alternate;
	-ms-animation:mover 1s infinite alternate;
	-o-:mover 1s infinite alternate;
}

@keyframes mover{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(10px);
	}
}
/*----------ABOUT-----------*/
.about{
	padding-top: 100px;
	margin-bottom: -130px;
	font-size: 14px;
}

.profile-img {
	
	width: 100%;
	border-top: 8px solid #f8f9fa;
	border-right: 8px solid #f8f9fa;
	border-left: 8px solid #f8f9fa;
	border-bottom: 8px solid #f8f9fa;
}

/*--------NAVBAR--------*/
.nav-bar{
	position: sticky;
	top: 0;
	z-index: 2;
}

.navbar{
	background-color: #f8f9fa;
	 box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
	  0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.navbar-brand img{
	height: 50px;
}

.nav-bar .fa-bars{
	font-size: 35px;
	color: #333;
}
.navbar-toggler{
	outline: none !important;
}
.navbar-link{
	
}
/*=========SKILLSET=========*/
.skills-bar{
	margin-bottom: 6px;
	font-weight: 600;
}

.progress{
	border-radius: 16px !important;
	margin-bottom: 10px;
}

.progress-bar{
	border-radius: 16px;
	background:purple;
}

/*=======RESUME=============*/
.resume{
	margin-top: -50px;
	padding-top: 50px;
	padding-bottom: 30px;
	background: #f8f9fa;
}

.resume h3{
	margin-bottom: 50px;
}
.resume p{
	font-size: 14px;
}
.timeline{
	list-style-type: none;
	position: relative;

}
.timeline:before{
	content: '';
	background: purple;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}

.timeline li{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background: #fff;
}

.timeline li h4{
	background-color:purple;
	padding: 5px 0 5px 20px;
	color: #fff;
	font-size: 15px; 
	
}
.timeline li p{
	
	padding: 5px 0 5px 20px;

 
	
}

.timeline li h4 span{
	font-weight: bold;
	color: #ccc;
}
.timeline li:before{
	content: '';
	background: purple;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid purple;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}

/*-----services---------*/
.services{
	padding-bottom: 50px;
	padding-top: 50px;
}

.services h1{
	margin-bottom: 15px;

}
.services-box{
	padding:10px;
	background: #f8f9fa;
	margin-top: 20px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;

}
.services-box .fa{
	margin: 3px;
	font-size: 20px;
	font-weight: bold;
	padding: 6px;


}

.services-box p{
	font-size: 14px;
	margin-top: 15px;
	color: #777;
}

.services-box:hover{
	background: purple;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}

.services-box:hover p{
	color: #fff;
}

/*=========CONTACT===========*/
.contact{
	padding-top: 50px;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	

}
.contact .row{
	padding: 30px 0;
	font-size: 22px;

}
.contact .col-md-4 .fa{
	padding: 10px;
	font-size:40px;
}

.contact .btn{
	padding: 10px 25px 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border:2px solid #fff;
	background: transparent;
}
.contact .btn a{
	text-decoration: none;
	color: #fff;
}

.contact .col-md-4 a{
	text-decoration: none;
	color: #fff;
}
.contact .btn:focus{
	box-shadow: none !important;
}
.contact .btn:hover{
	border:2px solid purple;
	background: purple !important;
	transition: 0.6s;
}

.contact .btn .fa{
	margin-right: 5px;
}
.footer{
	background: #f8f9fa;	
	margin-top: 50px;
	color: #333;
	padding-top: 10px;
}

/*========SOCIALS==========*/
.social-icons{
	top: 50%;
	transform:translateY(-50%);
	position: sticky;
	z-index: 1;
	width: 80px;

}
.social-icons ul{
padding: initial;
}

.social-icons ul li{
	height: 30px;
	width: 30px;
	list-style-type: none;
	padding-left: 10px;
	padding-top: 6px;
	color: #fff;
	background: purple;
}
.social-icons ul li:hover{
	padding-left: 30px;
	width: 80px;
	transition: 1s;
}

/*==========gallery===========*/
/*-----services---------*/
.gallery{
	padding-bottom: 50px;
	padding-top: 50px;
}

.gallery h1{
	margin-bottom: 15px;

}
.gallery-box img{

	width: 100%;
	
}

.gallery-box p{
	font-weight: 15px;
	padding-top: 20px;
	color:purple;
}
